.root {
    -fx-background-image: url("/Resources/111.jpg");

}

.button {
    -fx-background-color: #EA80FC;
    -fx-background-radius: 10;
    -fx-font-size: 20;
    -fx-font-style: oblique;
    /*-fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);*/
}

.button:disabled {
    -fx-opacity: 4.0;
}

.button:hover {
    -fx-background-color: #D500F9;
}

.button:pressed {
    -fx-background-color: #AA00FF;
}
.text-field{
    -fx-background-radius: 6;
}
#upButton{
    -fx-fill: #1976D2;
    -fx-stroke: #000000;
    -fx-stroke-width: 1;
    -fx-background-color: transparent;
}
#upButton:hover{
    -fx-cursor: hand;
}
#downButton{
    -fx-fill: #1976D2;
    -fx-stroke: #000000;
    -fx-stroke-width: 1;
    -fx-background-color: transparent;
}
#downButton:hover{
    -fx-cursor: hand;
}

#cancelButton{
    -fx-background-color: #1976D2;
    -fx-background-radius: 10;
    -fx-font-size: 20;
    -fx-font-style: oblique;
    -fx-text-fill: white;
}
#cancelButton:hover{
    -fx-background-color: #1565C0;
}
#cancelButton:pressed{
    -fx-background-color: #0D47A1;
}

.label {
    -fx-text-fill: black;
    -fx-text-alignment: center;
    -fx-font-family: fantasy;
    -fx-font-size: 16;
}

.date-picker {
    -fx-base: #82B1FF;
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: derive(#82B1FF, 60%);
    -fx-padding: 0;
}

.date-picker-popup > * > .week-number-cell {
    -fx-border-width: 0px;
}

.date-picker-popup > * > .day-cell {
    -fx-border-width: 0px;
}
.date-picker .text-field {
    -fx-control-inner-background: white ;
    -fx-effect: dropshadow(gaussian, red, 0, 0, 0, 0);
}
.date-picker-popup > * > .spinner > .left-button {
    -fx-background-color: #82B1FF;
    -fx-padding: 0 0.333333em 0 0.25em; /* 0 4 0 3 */
}
.date-picker-popup > * > .spinner > .right-button {
    -fx-background-color: #82B1FF;
    -fx-padding: 0 0.25em 0 0.333333em; /* 0 3 0 4 */
}


.date-picker-popup > * > .week-number-cell {
    -fx-border-width: 0px;
}

.date-picker-popup > * > .day-cell {
    -fx-border-width: 0px;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: transparent;
    -fx-background-radius: 2em;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 2em;
}

.scroll-bar:vertical .track-background,
.scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 2em;
}

.scroll-bar:horizontal .thumb {
    -fx-background-color: #FFC107;
    -fx-background-insets: 4 0 4 0;
    -fx-background-radius: 2em;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #FFC107;
    -fx-background-insets: 0 4 0 4;
    -fx-background-radius: 2em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #efac00;
}

.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color: #ef6c00;
}

.scroll-bar:vertical .increment-button, .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 2em;
    -fx-padding: 5;
}

.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 2em;
    -fx-padding: 5;
}

.scroll-bar:horizontal .increment-arrow {
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-background-color: #FFC107;
    -fx-padding: 0.25em;
    -fx-rotate: -90;
}

.scroll-bar:vertical .increment-arrow {
    -fx-background-color: #FFC107;
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 0;
}

.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: #FFC107;
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: 90;
}

.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: #FFC107;
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-padding: 0.25em;
    -fx-rotate: -180;
}

.scroll-bar:vertical:focused,
.scroll-bar:horizontal:focused {
    -fx-background-color: transparent, rgb(96, 96, 96), rgb(96, 96, 96);
}

