.root {
    -fx-background-image: url("/Resources/blur.jpg");
}

.button {
    -fx-background-color: #FFC107;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-background-radius: 15;
    -fx-font-size: 14;
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
}

.button:hover{
    -fx-background-color: #FFA107;
}

.button:pressed{
    -fx-background-color: #ef6c00;
}

.label {
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
    -fx-font-size: 24;
    -fx-font-weight: bolder;
    -fx-text-fill: white;
}

.image-view {
    -fx-effect: dropshadow(gaussian, black, 20, 0, 0, 0);
}

#skipButton{
    -fx-pref-width: 100;
    -fx-background-color: #FFC107;
    -fx-font-size: 20;
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
}

#skipButton:pressed{
    -fx-background-color: #ef6c00;
}

#prevImage{
    -fx-background-color: transparent;
    -fx-font-size: 100;
    -fx-text-fill: white;
    -fx-pref-width: 300;
    -fx-pref-height: 300;
}

#prevImage:pressed{
    -fx-text-fill: #757575;
}

#nextImage{
    -fx-background-color: transparent;
    -fx-font-size: 100;
    -fx-text-fill: white;
    -fx-pref-width: 300;
    -fx-pref-height: 300;
}

#nextImage:pressed{
    -fx-text-fill: #757575;
}