.root {
    -fx-background-image: url("/Resources/SignIn_window(128px).jpg");
    -fx-background-size: stretch;
}

.button {
    -fx-background-color: #FFC107;
    -fx-pref-width: 200;
    -fx-pref-height: 40;
    -fx-background-radius: 15;
    -fx-font-size: 20;
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
}

.button:hover{
    -fx-background-color: #FFA107;
}

.button:pressed{
    -fx-background-color: #ef6c00;
}


.separator:vertical .line {
    -fx-border-color: transparent transparent transparent -fx-shadow-highlight-color,
    transparent transparent transparent -fx-text-box-border;
    -fx-border-width: 3, 1;
    -fx-border-insets: 0, 0 0 0 1;
}

.text-field {
    -fx-background-radius: 10;
    -fx-font-family: fantasy;
    -fx-prompt-text-fill: #757575;
    -fx-effect: dropshadow(one-pass-box, black, 5, 0, 0, 0);
    -fx-font-size: 20;
    -fx-pref-height: 50;
    -fx-pref-width: 250;
    -fx-text-fill: #212121;
}

.text-field:focused {
    -fx-effect: dropshadow(one-pass-box, black, 10, 0, 0, 0);
}

.label{
    -fx-text-fill:#E65100 ;
    -fx-font-size: 24;
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
    -fx-font-weight: bolder;
}