.root {
    -fx-background-image: url("/Resources/blur.jpg");
    -fx-background-size: stretch;
}

.label {
    -fx-text-fill: #ef6c00;
    -fx-font-size: 52;
    -fx-font-weight: bold;
    -fx-font-family: Cocon;
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
}

.label:hover{
    -fx-text-fill: #efac00;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, black, 20, 0, 0, 0);
}

.image-view{
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
}