.root {
    -fx-background-image: url("/Resources/blur.jpg");
}

.label {
    -fx-text-fill: #ef6c00;
    -fx-font-size: 52;
    -fx-font-weight: bold;
    -fx-font-family: Cocon;
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
}

.image-view{
    -fx-effect: dropshadow(gaussian, black, 10, 0, 0, 0);
}